body {
    font-family: Roboto, Arial, sans-serif;
    background-color: #040920;
    margin: 0;
    padding: 10%;
}

@media (max-width: 600px) {
    body {
        padding: 20px;
        padding-bottom: 60px;
    }
}

p {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    color: white; /* Default text color for .text elements */
}

@media (max-width: 600px) {
    p {
        font-size: 26px;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.transparent {
    color: rgba(0, 123, 255, 0.5); /* Slightly transparent text color for unmodified input */
}

#part2 {
    font-size: 48px;
    font-weight: bold;
}

@media (max-width: 600px) {
    #part2 {
        font-size: 40px;
    }
}

#eqLine {
    font-size: 22px;
    font-weight: bold;
}

#equivalent {
    border-bottom: 1px solid #b0b0b0;
}

#yourNetWorth {
    font-size: inherit;
    font-weight: bold;
    border: none;
    outline: none;
    border-bottom: 1px solid #b0b0b0;
    background: transparent;
    color: #F2BB05; /* text color for #yourNetWorth */
    text-align: center;
    width: 6ch;
    min-width: 1ch;
}

#donationAmount {
    color: #F2BB05; /* text color for #donationAmount */
    font-size: 110px;
}

@media (max-width: 600px) {
    #donationAmount {
        font-size: 90px;
    }
}

#netWorth {
    color: #F34213; /* text color for #netWorth */
}

#donation {
    color: #F34213; /* text color for #donation */
}

#donateRestos {
    font-size: 18px;
    font-weight: bold;
}

/* unvisited link */
#donateRestos > a:link {
    color: rgb(37, 124, 255);
    text-decoration: none;
}
  
/* visited link */
#donateRestos > a:visited {
    color: rgb(235, 103, 255);
    text-decoration: none;
}

.footer {
    position: fixed;
    bottom: 0px; /* Minimum spacing from the element above */
    left: 0;
    right: 0;
    text-align: center;
    background-color: #000000;
    padding: 10px;
    color: white;
}

.footer a {
    color: rgb(103, 174, 255);
    text-decoration: none;
}